name: Deploy Tramaweb

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # --- AQUI ESTA A CORREÇÃO ---
      # Removemos qualquer config de cache.
      # Isso obriga o sistema a baixar o Node 20 fresco.
      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # --- VERIFICAÇÃO ---
      # Isso vai imprimir a versão no log. Se aparecer v18 aqui, o Github está bugado.
      # Mas deve aparecer v20.
      - name: Check Node Version
        run: node -v

      - name: Build Frontend
        working-directory: ./frontend
        run: |
          npm install
          npm run build
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          NEXT_PUBLIC_ADSENSE_ID: ${{ secrets.NEXT_PUBLIC_ADSENSE_ID }}

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 31.97.166.219
          username: root
          key: ${{ secrets.SERVERSSHKEY }}
          port: 22
          script: |
            cd /var/www/tramaweb
            git pull origin main
            cd backend
            npm install
            pm2 restart tramaweb-backend
