name: Deploy Tramaweb

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          node-version: 20
          cache: 'npm'
          
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 31.97.166.219
          username: root
          key: ${{ secrets.SERVERSSHKEY }}
          port: 22
          script: |
            cd /var/www/tramaweb
            git pull origin main
            cd backend
            npm install
            pm2 restart tramaweb-backend
