name: Deploy Tramaweb

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    # A MÁGICA É AQUI: Rodamos tudo dentro de um container oficial Node 20
    # Isso ignora o sistema operacional padrão e garante Node 20.
    container: node:20-bookworm

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Não precisamos de 'setup-node' porque o container JÁ É Node 20

      - name: Build Frontend
        working-directory: ./frontend
        run: |
          echo "Versão do Node Atual:"
          node -v
          # npm ci é mais seguro e rápido para CI/CD que npm install
          npm ci
          npm run build
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          NEXT_PUBLIC_ADSENSE_ID: ${{ secrets.NEXT_PUBLIC_ADSENSE_ID }}
          # Se o Next reclamar de cache, descomente a linha abaixo:
          # CI: true

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 31.97.166.219
          username: root
          key: ${{ secrets.SERVERSSHKEY }}
          port: 22
          script: |
            cd /var/www/tramaweb
            git pull origin main
            
            cd backend
            npm install
            pm2 restart tramaweb-backend
